---
const { menuData } = Astro.props;
console.log({menuData});
function flattenMenu(menuData, level = 0) {
  const flattenedMenu = [];

  function flatten(menuItems, parentLevel) {
    menuItems.forEach((menuItem) => {
      menuItem.level = parentLevel + 1;
      flattenedMenu.push(menuItem);
      if (menuItem.submenus && menuItem.submenus.length > 0) {
        flatten(menuItem.submenus, menuItem.level);
      }
    });
  }

  flatten(menuData, level);
  return flattenedMenu;
}
--- 
<ul class="bg-green-600">
  {flattenMenu(menuData).map((menuItem) => (
    <li class="policy_cmp py-1" key={menuItem.label} style={{ marginLeft: `${menuItem.level * 20}px` }}>
      <a href={menuItem.url}>
        {menuItem.label}
      </a>
    </li>
  ))}
</ul>

<button class="bg-sky-500/100 ...">24658468947</button>
<p class="text-2xl">The quick brown fox ...</p>


